[submodule "helpers"]
	path = helpers
	url = https://github.com/johanneskastl/helpers.git
[submodule "ansible/roles/minimal_bashrc"]
	path = ansible/roles/johanneskastl.minimal_bashrc
	url = https://github.com/johanneskastl/ansible-role-minimal_bashrc.git
[submodule "ansible/roles/install_rke2"]
	path = ansible/roles/johanneskastl.install_rke2
	url = https://github.com/johanneskastl/ansible-role-install_rke2.git
[submodule "ansible/roles/create_a_vimrc"]
	path = ansible/roles/johanneskastl.create_a_vimrc
	url = https://github.com/johanneskastl/ansible-role-create_a_vimrc.git
[submodule "ansible/roles/zypper_ref_accept_keys"]
	path = ansible/roles/johanneskastl.zypper_ref_accept_keys
	url = https://github.com/johanneskastl/ansible-role-zypper_ref_accept_keys.git
[submodule "ansible/roles/johanneskastl.reboot"]
	path = ansible/roles/johanneskastl.reboot
	url = https://github.com/johanneskastl/ansible-role-reboot.git
